<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ads</key>
	<dict>
		<key>fullscreenBanner</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>fadeDuration</key>
			<integer>1</integer>
			<key>showTime</key>
			<integer>2</integer>
			<key>imageURL</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRRF9rampWaUtqWHM</string>
			<key>imageURL-568h</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRQ0FnYlhQZUZ1U00</string>
			<key>imageURL-667h</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRQ1IyS3cteENfbmc</string>
			<key>imageURL-736h</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRejByUFVrYzFVNm8</string>
		</dict>
		<key>smallBanner</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>imageURL</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRS2pQYWFrSFQ5MHc</string>
			<key>linkURL</key>
			<string>http://google.com/</string>
		</dict>
	</dict>
	<key>Routes</key>
	<array>
		<dict>
			<key>from</key>
			<integer>0</integer>
			<key>to</key>
			<integer>1</integer>
			<key>length</key>
			<integer>478</integer>
			<key>transit</key>
			<array>
				<string>0</string>
				<string>6</string>
				<string>7</string>
				<string>1</string>
			</array>
			<key>route_ua</key>
			<string>M03</string>
			<key>route_eu</key>
			<string>E40</string>
			<key>fromImageURL</key>
			<string></string>
			<key>toImageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>from</key>
			<integer>0</integer>
			<key>to</key>
			<integer>2</integer>
			<key>length</key>
			<integer>550</integer>
			<key>transit</key>
			<array>
				<string>0</string>
				<string>8</string>
				<string>9</string>
				<string>2</string>
			</array>
			<key>route_ua</key>
			<string>M06</string>
			<key>route_eu</key>
			<string>E40</string>
			<key>fromImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6SGMybXoxWUFZYUk</string>
			<key>fromImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6YTNZbHB4WFBXUkU</string>
			<key>fromImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6eTNKWGprd3dsX3c</string>
			<key>toImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRWU9ZQmJoX0tXSlU</string>
			<key>toImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRVXFXZTZTenZSSTQ</string>
			<key>toImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRbTBmX280N1JBdkU</string>
		</dict>
		<dict>
			<key>from</key>
			<integer>0</integer>
			<key>to</key>
			<integer>3</integer>
			<key>length</key>
			<integer>475</integer>
			<key>transit</key>
			<array>
				<string>0</string>
				<string>10</string>
				<string>11</string>
				<string>3</string>
			</array>
			<key>route_ua</key>
			<string>M05</string>
			<key>route_eu</key>
			<string>E95</string>
			<key>fromImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6QmoyeDAtX0sySFk</string>
			<key>fromImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6OHJJb2FJV2pxTEU</string>
			<key>fromImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6VFprbC1mSnItQkk</string>
			<key>toImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6THpwdEFmTW1rQTg</string>
			<key>toImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6Vk5hTExuUVk0NXM</string>
			<key>toImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6eU1Sc3lqRzMtUDQ</string>
		</dict>
		<dict>
			<key>from</key>
			<integer>0</integer>
			<key>to</key>
			<integer>4</integer>
			<key>length</key>
			<integer>773</integer>
			<key>transit</key>
			<array>
				<string>0</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
			</array>
			<key>route_ua</key>
			<string>M07</string>
			<key>route_eu</key>
			<string>E373</string>
			<key>fromImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6SFE5d21ZQjgtb0U</string>
			<key>fromImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6dXB0OV94NE5jaXM</string>
			<key>fromImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6ZndESV9Sd3lJMUk</string>
			<key>toImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6ZXVvOWhnVHR4NnM</string>
			<key>toImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6THFuS0tvRktDRVE</string>
			<key>toImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6Zld0M2VEcUZISFE</string>
		</dict>
		<dict>
			<key>from</key>
			<integer>2</integer>
			<key>to</key>
			<integer>5</integer>
			<key>length</key>
			<integer>288</integer>
			<key>transit</key>
			<array>
				<string>2</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>5</string>
			</array>
			<key>route_ua</key>
			<string>M03</string>
			<key>route_eu</key>
			<string>E40</string>
			<key>fromImageURL</key>
			<string></string>
			<key>toImageURL</key>
			<string></string>
		</dict>
	</array>
	<key>Cities</key>
	<array>
		<dict>
			<key>title_en</key>
			<string>Kiev</string>
			<key>title_ru</key>
			<string>Киев</string>
			<key>title_uk</key>
			<string>Київ</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Kharkiv</string>
			<key>title_ru</key>
			<string>Харьков</string>
			<key>title_uk</key>
			<string>Харків</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>L&apos;viv</string>
			<key>title_ru</key>
			<string>Львов</string>
			<key>title_uk</key>
			<string>Львів</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Odessa</string>
			<key>title_ru</key>
			<string>Одесса</string>
			<key>title_uk</key>
			<string>Одеса</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Varshava</string>
			<key>title_ru</key>
			<string>Варшава</string>
			<key>title_uk</key>
			<string>Варшава</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Chop</string>
			<key>title_ru</key>
			<string>Чоп</string>
			<key>title_uk</key>
			<string>Чоп</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Pyriatyn</string>
			<key>title_ru</key>
			<string>Пирятин</string>
			<key>title_uk</key>
			<string>Пирятин</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Poltava</string>
			<key>title_ru</key>
			<string>Полтава</string>
			<key>title_uk</key>
			<string>Полтава</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Zhytomyr</string>
			<key>title_ru</key>
			<string>Житомир</string>
			<key>title_uk</key>
			<string>Житомир</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Rivne</string>
			<key>title_ru</key>
			<string>Ровно</string>
			<key>title_uk</key>
			<string>Рівне</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Bila Tserkva</string>
			<key>title_ru</key>
			<string>Белая Церковь</string>
			<key>title_uk</key>
			<string>Біла Церква</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Uman</string>
			<key>title_ru</key>
			<string>Умань</string>
			<key>title_uk</key>
			<string>Умань</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Korosten</string>
			<key>title_ru</key>
			<string>Коростень</string>
			<key>title_uk</key>
			<string>Коростень</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Sarny</string>
			<key>title_ru</key>
			<string>Сарны</string>
			<key>title_uk</key>
			<string>Сарни</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Kovel</string>
			<key>title_ru</key>
			<string>Ковель</string>
			<key>title_uk</key>
			<string>Ковель</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Stryi</string>
			<key>title_ru</key>
			<string>Стрый</string>
			<key>title_uk</key>
			<string>Стрий</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Mukacheve</string>
			<key>title_ru</key>
			<string>Мукачево</string>
			<key>title_uk</key>
			<string>Мукачеве</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Uzhhorod</string>
			<key>title_ru</key>
			<string>Ужгород</string>
			<key>title_uk</key>
			<string>Ужгород</string>
		</dict>
	</array>
	<key>Language</key>
	<dict>
		<key>default</key>
		<string>uk</string>
	</dict>
	<key>Design</key>
	<dict>
		<key>SplashScreen</key>
		<dict>
			<key>activityIndicatorColor</key>
			<string>000000</string>
		</dict>
		<key>RouteList</key>
		<dict>
			<key>RouteCell</key>
			<dict>
				<key>backgroundColor</key>
				<string>52515180</string>
				<key>routeLabel</key>
				<dict>
					<key>fontName</key>
					<string>Arial-BoldMT</string>
					<key>fontSize</key>
					<string>14</string>
					<key>textColor</key>
					<string>ffe400</string>
				</dict>
				<key>lengthLabel</key>
				<dict>
					<key>fontName</key>
					<string>Arial-ItalicMT</string>
					<key>fontSize</key>
					<string>14</string>
					<key>textColor</key>
					<string>ffffff</string>
				</dict>
				<key>transitLabel</key>
				<dict>
					<key>fontName</key>
					<string>ArialMT</string>
					<key>fontSize</key>
					<string>9</string>
					<key>textColor</key>
					<string>ffffff</string>
				</dict>
			</dict>
		</dict>
		<key>RouteDetails</key>
		<dict>
			<key>activityIndicatorColor</key>
			<string>ffffff</string>
			<key>CityHeader</key>
			<dict>
				<key>backgroundColor</key>
				<string>1d1d1b80</string>
				<key>cityLabel</key>
				<dict>
					<key>fontName</key>
					<string>Arial-BoldMT</string>
					<key>fontSize</key>
					<string>22</string>
					<key>textColor</key>
					<string>ffe400</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Stats</key>
	<dict>
		<key>Flurry</key>
		<dict>
			<key>apiKey</key>
			<string>6K9KZYZYV4559XMZM4D2</string>
		</dict>
	</dict>
</dict>
</plist>
