<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ads</key>
	<dict>
		<key>fullscreenBanner</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>fadeDuration</key>
			<integer>1</integer>
			<key>showTime</key>
			<integer>2</integer>
			<key>imageURL</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6LVZzWEYyaU5BYlk</string>
			<key>tallImageURL</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6WFFRaEQ5bEgxV0k</string>
		</dict>
		<key>smallBanner</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>imageURL</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6amhLUlV2YWVNYlU</string>
			<key>linkURL</key>
			<string>http://wog.ua</string>
		</dict>
	</dict>
	<key>Routes</key>
	<array>
		<dict>
			<key>from</key>
			<integer>0</integer>
			<key>to</key>
			<integer>1</integer>
			<key>length</key>
			<integer>478</integer>
			<key>transit</key>
			<array>
				<string>0</string>
				<string>6</string>
				<string>7</string>
				<string>1</string>
			</array>
			<key>route_ua</key>
			<string>M03</string>
			<key>route_eu</key>
			<string>E40</string>
			<key>fromImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRZkdfT2JXSno4OWs</string>
			<key>fromImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRcTJBUFJtWkZRNm8</string>
			<key>fromImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRRjA4eEhycVVIbUU</string>
			<key>toImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRRVgwM0NwcGo0Vjg</string>
			<key>toImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPReTJOVThZUFJ5OGc</string>
			<key>toImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRQXNhMjBDZHFKelk</string>
		</dict>
		<dict>
			<key>from</key>
			<integer>0</integer>
			<key>to</key>
			<integer>2</integer>
			<key>length</key>
			<integer>550</integer>
			<key>transit</key>
			<array>
				<string>0</string>
				<string>8</string>
				<string>9</string>
				<string>2</string>
			</array>
			<key>route_ua</key>
			<string>M06</string>
			<key>route_eu</key>
			<string>E40</string>
			<key>fromImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRLWpBUmhRaU4tMFE</string>
			<key>fromImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRckowaTlCRlI0LW8</string>
			<key>fromImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRdDBhdUJIUG1oMUk</string>
			<key>toImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRcjJjSUZJeXFrWGs</string>
			<key>toImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRemdnWlI0T1p4UzQ</string>
			<key>toImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRWWxhU1FBbGFYNnc</string>
		</dict>
		<dict>
			<key>from</key>
			<integer>0</integer>
			<key>to</key>
			<integer>3</integer>
			<key>length</key>
			<integer>475</integer>
			<key>transit</key>
			<array>
				<string>0</string>
				<string>10</string>
				<string>11</string>
				<string>3</string>
			</array>
			<key>route_ua</key>
			<string>M05</string>
			<key>route_eu</key>
			<string>E95</string>
			<key>fromImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRdFNiUVJYMkQ4QWM</string>
			<key>fromImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRRzJ2QzN6NjdRM1E</string>
			<key>fromImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRakxUc1N4UEJmMDA</string>
			<key>toImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRaTFVYTM0aVk0VmM</string>
			<key>toImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRZUVNdjJVRmNRQ1U</string>
			<key>toImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRY3NWeXhROVg4TGc</string>
		</dict>
		<dict>
			<key>from</key>
			<integer>0</integer>
			<key>to</key>
			<integer>4</integer>
			<key>length</key>
			<integer>773</integer>
			<key>transit</key>
			<array>
				<string>0</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
			</array>
			<key>route_ua</key>
			<string>M07</string>
			<key>route_eu</key>
			<string>E373</string>
			<key>fromImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPReTZ5Y0MwWWZVTTQ</string>
			<key>fromImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRb2F1Q2F6Nmp0Mkk</string>
			<key>fromImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRUDNaZDd6d3JtZDg</string>
			<key>toImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRamZ3YTZFNnN0MFE</string>
			<key>toImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRbGFKdUtYbmpzU1U</string>
			<key>toImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRUDNtSUZ1VlJqT1E</string>
		</dict>
		<dict>
			<key>from</key>
			<integer>2</integer>
			<key>to</key>
			<integer>5</integer>
			<key>length</key>
			<integer>288</integer>
			<key>transit</key>
			<array>
				<string>2</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>5</string>
			</array>
			<key>route_ua</key>
			<string>M03</string>
			<key>route_eu</key>
			<string>E40</string>
			<key>fromImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRdHZQeERkY1RSaEU</string>
			<key>fromImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPReW1uMTVER0k5cWc</string>
			<key>fromImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPReXVGT2JfQkFGdkU</string>
			<key>toImageURL_en</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRTXBGdFJsQ3ZXRGs</string>
			<key>toImageURL_ru</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRLUpoLTRWZmRyd2M</string>
			<key>toImageURL_uk</key>
			<string>http://docs.google.com/uc?export=download&amp;id=0Bx0hFmhr9oPRUUhrU2ZhUnJ4VmM</string>
		</dict>
	</array>
	<key>Cities</key>
	<array>
		<dict>
			<key>title_en</key>
			<string>Kiev</string>
			<key>title_ru</key>
			<string>Киев</string>
			<key>title_uk</key>
			<string>Київ</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Kharkiv</string>
			<key>title_ru</key>
			<string>Харьков</string>
			<key>title_uk</key>
			<string>Харків</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>L&apos;viv</string>
			<key>title_ru</key>
			<string>Львов</string>
			<key>title_uk</key>
			<string>Львів</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Odessa</string>
			<key>title_ru</key>
			<string>Одесса</string>
			<key>title_uk</key>
			<string>Одеса</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Varshava</string>
			<key>title_ru</key>
			<string>Варшава</string>
			<key>title_uk</key>
			<string>Варшава</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Chop</string>
			<key>title_ru</key>
			<string>Чоп</string>
			<key>title_uk</key>
			<string>Чоп</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Piryatin</string>
			<key>title_ru</key>
			<string>Пирятин</string>
			<key>title_uk</key>
			<string>Пирятин</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Poltava</string>
			<key>title_ru</key>
			<string>Полтава</string>
			<key>title_uk</key>
			<string>Полтава</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Zhytomyr</string>
			<key>title_ru</key>
			<string>Житомир</string>
			<key>title_uk</key>
			<string>Житомир</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Rivne</string>
			<key>title_ru</key>
			<string>Ровно</string>
			<key>title_uk</key>
			<string>Рівне</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Bila Tserkva</string>
			<key>title_ru</key>
			<string>Белая Церковь</string>
			<key>title_uk</key>
			<string>Біла Церква</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Uman</string>
			<key>title_ru</key>
			<string>Умань</string>
			<key>title_uk</key>
			<string>Умань</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Korosten</string>
			<key>title_ru</key>
			<string>Коростень</string>
			<key>title_uk</key>
			<string>Коростень</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Sarny</string>
			<key>title_ru</key>
			<string>Сарны</string>
			<key>title_uk</key>
			<string>Сарни</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Kovel</string>
			<key>title_ru</key>
			<string>Ковель</string>
			<key>title_uk</key>
			<string>Ковель</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Striy</string>
			<key>title_ru</key>
			<string>Стрый</string>
			<key>title_uk</key>
			<string>Стрий</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Mukachevo</string>
			<key>title_ru</key>
			<string>Мукачево</string>
			<key>title_uk</key>
			<string>Мукачеве</string>
		</dict>
		<dict>
			<key>title_en</key>
			<string>Uzhorod</string>
			<key>title_ru</key>
			<string>Ужгород</string>
			<key>title_uk</key>
			<string>Ужгород</string>
		</dict>
	</array>
	<key>Language</key>
	<dict>
		<key>default</key>
		<string>uk</string>
	</dict>
	<key>Design</key>
	<dict>
		<key>SplashScreen</key>
		<dict>
			<key>activityIndicatorColor</key>
			<string>000000</string>
		</dict>
		<key>RouteList</key>
		<dict>
			<key>RouteCell</key>
			<dict>
				<key>backgroundColor</key>
				<string>52515180</string>
				<key>blurColor</key>
				<string>52515180</string>
				<key>routeLabel</key>
				<dict>
					<key>fontName</key>
					<string>Arial-BoldMT</string>
					<key>fontSize</key>
					<string>14</string>
					<key>textColor</key>
					<string>ffe400</string>
				</dict>
				<key>lengthLabel</key>
				<dict>
					<key>fontName</key>
					<string>Arial-ItalicMT</string>
					<key>fontSize</key>
					<string>14</string>
					<key>textColor</key>
					<string>ffffff</string>
				</dict>
				<key>transitLabel</key>
				<dict>
					<key>fontName</key>
					<string>ArialMT</string>
					<key>fontSize</key>
					<string>9</string>
					<key>textColor</key>
					<string>ffffff</string>
				</dict>
			</dict>
		</dict>
		<key>RouteDetails</key>
		<dict>
			<key>activityIndicatorColor</key>
			<string>ffffff</string>
			<key>CityHeader</key>
			<dict>
				<key>backgroundColor</key>
				<string>1d1d1b80</string>
				<key>cityLabel</key>
				<dict>
					<key>fontName</key>
					<string>Arial-BoldMT</string>
					<key>fontSize</key>
					<string>22</string>
					<key>textColor</key>
					<string>ffe400</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Stats</key>
	<dict>
		<key>Flurry</key>
		<dict>
			<key>apiKey</key>
			<string>6K9KZYZYV4559XMZM4D2</string>
		</dict>
	</dict>
	<key>About</key>
	<dict>
		<key>imageURL_en</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6X1Z6YW9ycmd0OVU</string>
		<key>imageURL_ru</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6NUlvWWtyUmk3cUk</string>
		<key>imageURL_uk</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6Q3FMTXBIb3FSSDg</string>
		<key>tallImageURL_en</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6Nm5ibVI1TTBvMUk</string>
		<key>tallImageURL_ru</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6MFMwaWc3WTYzUGs</string>
		<key>tallImageURL_uk</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6aDI3aVY1TDkzSnM</string>
	</dict>
	<key>Info</key>
	<dict>
		<key>imageURL_en</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6OVRGOENCVmEybUk</string>
		<key>imageURL_ru</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6Z1VadmFaYkdhdVU</string>
		<key>imageURL_uk</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6aFBoTl85UXRXZ0U</string>
		<key>tallImageURL_en</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6cUx0ZzBoamZ2TDQ</string>
		<key>tallImageURL_ru</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6OEZOaEtVTE1sRkk</string>
		<key>tallImageURL_uk</key>
		<string>http://docs.google.com/uc?export=download&amp;id=0B4pWLbcPaUi6ZzYzeUprd0cyb0U</string>
	</dict>
</dict>
</plist>
